<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/iconludo.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/start.css' %}">
    <link href="https://file.myfontastic.com/Zu2x3YbfXDnDmKv8Pz87YG/icons.css" rel="stylesheet">
    <title>Ludo Criollo</title>
</head>

<body>
    <div class="general-container">
     
        <form method="POST" id="item_login" class="item-login">{% csrf_token %}
            <div class="item-login-icon">
                <label for="txtuser" class="icon-user"></label>
            </div>
            <div class="item-input-input">
                <h2>Iniciar Sesión</h2>
            </div>
            <div class="item-input">
                <div class="item-input-input">
                    <label for="txtuser" class="icon-user"></label>
                    <input id="txtuser" name="txtuser" type="text" required placeholder="Usuario">
                    <p id="error-login">{{ error }} </p>
                </div>

                <div class="item-input-input">
                    <label for="txtpass" class="icon-unlock-alt"></label>
                    <input id="txtpass" name="txtpass" type="password" required placeholder="***********">
                </div>
                <div class="item-input-input">
                    
                    
                </div>
                <button type="submit" > Login</button>
                <!-- <a href="#">¿Olvido su contraseña?</a> -->
            </form>
        </div>
    </div>
</body>

</html>