<!DOCTYPE html>
{% load static %}

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/iconludo.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/modifyStudent.css' %}">
    <link href="https://file.myfontastic.com/Zu2x3YbfXDnDmKv8Pz87YG/icons.css" rel="stylesheet">
    <title>Modificar alumno</title>

</head>

<body>
    <div id="item-alert">

    </div>
    <div class="menu-container">
            <a id="icon-ref" href="{% url 'login' %}"><label class="icon-heartbeat"></label></a>
            <label id="btn-menu" class="icon-list-bullet"></label>
            <nav id="navegador">
                <ul>
                        <li ><a class="item-link" href="{% url 'ingreso_profe' %}">Ingresar alumno</a></li>
                        <li class="selected"><a class="item-link" href="{% url 'listar_alumnos_profe' %}">Buscar alumnos</a></li>
                        {% if user.is_authenticated %}
                        <li>
                        <form  action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                             
                                <input class="item-link" type="submit" value="Cerrar Sesion">
                        </form>
                        </li>
                        {% endif %} 
                </ul>
            </nav>
        </div>
</div>
    <div class="general-container">
        <form  onsubmit=" return searchModify();" class="item-search">
            <label>Modificar Alumno:</label>
        </form>
        <form method="POST" enctype="multipart/form-data"  class="item-data">{% csrf_token %}
            <label id="user" class="icon-user">{{ alumno }}</label>
            <div class="item-data-title">
            </div>
            <div class="item-input">
                <div class="item-input-input">
                    <label for="{{ form.curso_alumno.id_for_label }}">Curso: <span id="edit-grade" class="icon-pencil-square-o"></label>
                    <!-- <input type="text"  id="txtselectgrade" value="{{ curso_alumno }}" name="txtselectgrade" list="selectgrade" placeholder="Elegir Curso" required>
                    <datalist id="selectgrade">
                        {% for cursos in todos_cursos %}
                        <option >{{ cursos.todos_curso }}</option>
                        {% endfor %}
            
                    </datalist> -->
                    {{ form.curso_alumno }}
            
                </div>
            </div>
            <div class="item-input">
                <div class="item-input-input">
                    <label for="{{ form.nombres_alumno.id_for_label }}"> Nombre: <span id="edit-name" class="icon-pencil-square-o"></label>
                    <!-- <input type="text" id="txtname" value="{{ nombres_alumno }}" placeholder="Ingrese nombres" disabled> -->
                    {{ form.nombres_alumno }}
                </div>
            </div>
            <div class="item-input">
                <div class="item-input-input">
                    <label for="{{ form.apellidos_alumno.id_for_label }}"> Apellidos: <span  id="edit-lastname" class="icon-pencil-square-o"></label>
                    <!-- <input type="text" id="txtlastname" value="{{ apellidos_alumno }}" placeholder="Ingrese apellidos" disabled> -->
                    {{ form.apellidos_alumno }}
                </div>
            </div>
            <div class="item-input">
                <div class="item-input-input">
                    <label for="{{ form.edad_alumno.id_for_label }}"> Edad (años): <span  id="edit-age" class="icon-pencil-square-o"></label>
                    <!-- <input type="number" id="txtage" value="{{ edad_alumno }}" placeholder="Ingrese peso" disabled> -->
                    {{ form.edad_alumno }}
                </div>
            </div>
            <div class="item-input">
                <div class="item-input-input">
                    <label for="{{ form.peso_alumno.id_for_label }}"> Peso (kg): <span  id="edit-weight" class="icon-pencil-square-o"></label>
                    <!-- <input type="number" id="txtweight" value="{{ peso_alumno }}" placeholder="Ingrese peso" disabled> -->
                    {{ form.peso_alumno }}
                </div>
            </div>
            <div class="item-input">
                <div class="item-input-input">
                    <label for="{{ form.talla_alumno.id_for_label }}">Talla (cm): <span  id="edit-talla" class="icon-pencil-square-o"></label>
                    <!-- <input type="text" id="txttalla" value="{{ talla_alumno }}" placeholder="Ingrese talla" disabled> -->
                    {{ form.talla_alumno }}
                </div>
            </div>
            <div class="item-input">
                <div class="item-input-input">
                    <label for="{{ form.perimetro_cintura_alumno.id_for_label }}">Perimetro cintura (cm): <span id="edit-perimeter"  class="icon-pencil-square-o"></label>
                    <!-- <input type="number" id="txtperimeter" value="{{ perimetro_cintura_alumno }}" placeholder="Ingrese perimetro" disabled> -->
                    {{ form.perimetro_cintura_alumno }}
                </div>
            </div>
            <div class="item-input">
                <div class="item-input-input">
                    <label for="{{ form.fuerza_prensil_izquierda_alumno.id_for_label }}"> Fuerza prensil izquierda(kg): <span id="edit-fp-left"  class="icon-pencil-square-o"></label>
                    <!-- <input type="number" id="txtfpizquierda" value="{{ fuerza_prensil_izquierda_alumno }}" placeholder="Ingrese fuerza" disabled > -->
                    {{ form.fuerza_prensil_izquierda_alumno }}
                </div>
            </div>
            <div class="item-input">
                <div class="item-input-input">
                    <label for="{{ form.fuerza_prensil_derecha_alumno.id_for_label }}"> Fuerza prensil derecha(kg): <span  id="edit-fp-right" class="icon-pencil-square-o"></span></label>
<!--                     
                    <input type="number" id="txtfpderecha" value="{{ fuerza_prensil_derecha_alumno }}" placeholder="Ingrese fuerza"  disabled > -->
                    {{ form.fuerza_prensil_derecha_alumno }}
                </div>
            </div>
            <div class="item-input">
                <div class="item-input-input">
                    <label > IMC </label>
<!--                     
                    <input type="number" id="txtfpderecha" value="{{ fuerza_prensil_derecha_alumno }}" placeholder="Ingrese fuerza"  disabled > -->
                    {{ form.imc_alumno }}
                </div>
            </div>
            <div class="item-input">
                <div class="item-input-input">
                    <label for="txtfpderecha"> Categoria IMC </label>
<!--                     
                    <input type="number" id="txtfpderecha" value="{{ fuerza_prensil_derecha_alumno }}" placeholder="Ingrese fuerza"  disabled > -->
                    {{ form.categoria_imc_alumno }}
                </div>
            </div>

            

            <div class="item-input">
                <div class="item-input-input">
                    <button value="OK" type="submit">Modificar</button>
                </div>
            </div>
            <a href="eliminar"> <span class="icon-trash"></span></a>
        </form>
    </div>
    <script src="{% static 'js/javamodify.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{%static 'js/javamenu.js' %}"></script>

</body>


</html>