
.general-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri, arial;
}

.general-container form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 90%;
    border-radius: 8px;
    background: rgba(0, 0, 0, .5);
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 2vh;
    color: white;
    text-align: center;
}

.item-fullname {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.item-age-height {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.item-meter-min-cant {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-input {
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
}

.item-input-input {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin-top: 20px
}

#txtobservation {
    resize: vertical;
    max-height: 100px;
    min-height: 30px;
    text-align: center;
    border-radius: 8px;
    

}

.item-input-input input {
    border-radius: 15px;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    outline: none;
  
    height: 20px;
    width: 75%;
    padding: 3px;
    text-align: center;
    font-size: 16px;
}

.item-input-input select {
    border-radius: 15px;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    outline: none;
    width: 81%;
    padding: 3px;
    text-align: center;
    height: 30px;
    font-size: 18px;
}


.item-input-input input:focus{
  border: 2px solid #0C0;
}

.item-input-input button {
    margin-bottom: 15px;
    padding: 4px;
    background-color: #555555;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 155px;
}

.item-input-input button:focus,
button:hover {
    border: 2px solid rgba(63, 191, 191);
    background: rgba(125, 125, 125);
}
/*AQUI EMPIEZA LO DE ALERT*/
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
@media screen and (min-width:480px) {

    .general-container form {
        width: 600px;
    }

    .item-input-input select {
        width: 77.99%;
        height: 32px;

    }

    .item-input-input {
        width: 50%;
    }

    .item-input-input input {
        width: 78%;
    }

    .item-input button {
        height: 40px;
        margin-top: 10px;
    }
}