.general-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri, arial;
    flex-wrap: wrap;
    height: 100vh;
}

.item-list-button {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 11vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 260px;
    background: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, .8);
}
.item-list-button input{
    border-radius: 15px;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    outline: none;
    height: 30px;
    width: 70%;
    padding:3px;
    text-align: center;
}

.item-list-button h2 {
    font-size: 60px
}

.item-list-button button {
    margin-top: 30px;
    padding: 4px;
    background-color: #555555;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 155px;
}

.item-input-input button:focus,
button:hover {
    border: 2px solid rgba(63, 191, 191);
    background: rgba(125, 125, 125);
}

.container-list {
    width: 95%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.item-list {
    margin-top: 10px;
    width: 100%;
    background: rgba(255, 255, 255, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 18px;

}



.item-list-name {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: .5px solid rgba(0, 0, 0, .3);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

}

.item-list-name a {
    text-decoration: none;
    text-decoration-style: none;
    width: 30px;
    height: 30px;
}

#name {
    margin-right: 3px;
}

.icon-info-circle {
    color: black;
    margin-right: 4px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 1s all;
}

.icon-info-circle:hover,.item-list-name a:hover {
    color: rgba(16, 168, 0);
    transform: scale(1.1, 1);
    transition: 1s all;
}


.item-list-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.item-list-data {
    box-sizing: border-box;
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid rgba(0, 0, 0, .4);
}

.item-list-data:nth-child(7) {
    border-bottom-left-radius: 18px;
}

.item-list-data:nth-child(8) {
    border-bottom-right-radius: 18px;
}

/*Tablas */
.table-student {
    margin: 20px;
    font-size: .85em;
    border: 1px solid rgba(255, 255, 255, .6);
    color: rgba(255, 255, 255, .8);
    min-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    transition: all .7s;
    border-collapse: collapse;

}

.table-student td,
th {
    padding: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, .6);
    text-align: center;

}

.table-student th {
    background: rgba(255, 255, 255, .8);
    text-align: center;
    color: rgba(0, 0, 0.6);

}

.table-student tr:hover {
    background: rgba(0, 0, 0, .8);
    transition: all .7s;


}

.table-student tr td {
    background: rgba(0, 0, 0, .7)
}

.table-student tr td:nth-child(2n) {
    background: rgba(255, 255, 255, .59);
    color: rgba(0, 0, 0, .9);
    font-weight: bold;
}

/*resposnvie tabla*/
.table-container {
    overflow-x: auto;
}

.table-student td:first-child {
    position: absolute;
    color: rgba(255, 255, 255, .8);
    background: rgba(0, 0, 0, .9);
    width: 80px;
}

.table-student th:first-child {
    width: 80px;
    position: absolute;
    background: rgba(255, 255, 255, .8)
}

.table-student th:nth-child(2),
td:nth-child(2) {
    padding-left: 85px;
}

.table-student tr:hover td:first-child {
    background: rgba(255, 255, 255, .9);
    color: rgba(0, 0, 0.6);
    font-weight: bold;
    transition: all .7s;

}



/*termina responsive tabla*/

/*aqui termina las tabalas*/

@media screen and (min-width:600px) {
    .item-list {
        width: 46%;
        margin: 10px;

    }
    .item-list-button input{
        width: 50%;
    }

}

@media screen and (min-width:1250px) {
    .container-list {
        justify-content: center;

    }
    .item-list-button input{
        width: 30%;
    }
    .item-list {
        width: 24%;
        margin-right: 5px;
        margin-left: 10px;


    }
}