* {
    margin: 0;
    padding: 0;


}
body{
    background: url(../img/grass-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}
img {
    max-width: 100%;
}

nav ,
button {
    min-height: 48px;
    min-width: 48px;
}
